/* house details  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.header{
    min-height: 0vh;
    width: 100%;
    /*background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(./image/banner-image.jpeg);
    background-size: cover;
    background-position: center ;*/
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav-links li a{
    text-decoration: none;
    color: black;
}
.register-btn{
    background: orange;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}
.register-btn:hover{
    background-color: orange;
    transform: scale(1.10);
}
.house-details{
    padding: 0 12%;

}
.house-title{
    margin-top: 0px;
}
.house-title h1{
    font-weight: 600;
}
.house-title .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}
.gallery{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . .' 'first first . .';
}
.gallery div img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.gallery div img:hover{
transform: scale(1.03);
}
.gallery-img-1{
    grid-area: first;
}
.small-details h2{
    font-weight: 500;
}
.small-details h4{
    text-align: right;
    font-size: 22px;
}
.line{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 50px;

}
.check-form{
    margin: 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px;
}
.check-form label{
    display: block;
}
.check-form div{
    padding: 20px;

}
.check-form input{
    background: transparent;
    border: 0;
    outline: none;
}
.check-form button{
    background: #ff5361;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 350px;
    border-radius: 8px;
    font-size: 16px;
}
.check-form button:hover{
    transform: scale(1.03);
}
.guest-field{
    flex: 1;
}
.details-list{
    list-style: none;
    margin: 50px 0;
}
.details-list li{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;

}
.home-desc{
    max-width: 700px;
    margin-bottom: 50px;
    padding-left: 70px;
}
.map{
    margin: 50px;
}
.map iframe{
   width: 100%;
   margin-bottom: 30px;
}
.map h3{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}
.map b{
    margin: block;
    margin-bottom: 16px;
}
.host{
    display: flex;
    align-items: center;
}
.host img{
    width:80px;
    border-radius: 50%;
    margin-right: 30px;
}
.host h2{
    margin-bottom: 10px;
    font-weight: 500;
}
.contact-host{
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    color: #555;
    padding: 15px 50px;
    border: 1px solid #ff5361;
    border-radius: 8px;

}
.contact-host:hover{
    transform: scale(1.03);
}
.bxs-star  {
    color: #ff5361;
    font-size: 18px;
    margin: 10px 1px; 
    }
    .bxs-star-half{
        color: #ff5361;
    font-size: 18px;
    margin: 10px 1px; 
    }
    .bx-star{
        color: #ff5361;
    font-size: 18px;
    margin: 10px 1px; 
    }